* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    color: rgb(247, 243, 244);
    text-shadow: 0 0 5px rgb(216, 168, 95);
  }

  h5 {
    color: rgb(245, 241, 242);
    text-shadow: 0 0 5px rgb(216, 168, 95);
  }

  p {
    color: rgb(247, 241, 243);
    text-shadow: 0 0 5px rgb(216, 168, 95);
  }
  
    
    
  /* Style the header */
  header {
    padding: 50vh;
    /* text-align: center;
    font-size: 35px;
    color: white; */
    background-image: url('../img/landing-page.png');
    
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    /* Add more background properties as needed */
    max-height: 50%;
}

/* Add overlay using ::before pseudo-element */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 60, 19, 0.2); /* Adjust the alpha value for transparency */
}

.right {
    /* background-color: rgba(229, 229, 229, 0.7); */
    float: left;
    width: 100%; /* Adjust the width as needed */
    max-height: 20%;
    padding: 5px;
    margin-top: -19%;
    margin-left: -15%; /* Adjust the margin-left as needed */
    
    font-size: 200%;
    color: white;
    /* box-shadow: 0 0 3px rgb(216, 95, 135); */
    position: relative;
    z-index: 2; /* Set a higher z-index to place it above the overlay */
}

.right h5,
.right h1,
.right p {
    margin: 5px 0; /* Adjust the margin as needed */
}

.right button {
    background-color: rgb(216, 168, 95);
    
    box-shadow: 0 0 5px rgb(247, 241, 243) ;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right button:hover {
    background-color: #a09a45;
}

  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section, .right  {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    header{
        padding: 50px; /* Adjust padding for smaller screens */
    }
  }